@use './../../styles//partials/global' as *;


p{
    color: white;
    
}
.main{

    display: flex;
    justify-content: center;
    flex-direction: column;


    &__title1{

        display: flex;
        justify-content: center;
    }
    &__title2{

        display: flex;
        justify-content: center;
    }
    &__subtitle{

        display: flex;
        justify-content: center;
    }
}

.articles{


    display: flex;
    flex-direction: column;


    

    &__container-cards{

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        

    }
    &__card{

        box-shadow: -2px 3px 6px 8px rgb(255, 255, 255);
        padding: 2rem;
        margin-bottom: 5rem;
        border-radius: 15px;
        width: 50%;
    }
    &__card-items{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__card-img{

        
        width: 100%;
        min-width: 9rem;

        border-radius: 15px;
    }
    &__card-title{


    }
}