
$dt_pageHeader: 2rem;
$dt_subHeader: 1.5rem;
$dt_labelLinkButtons: .875rem;
$dt_tableHeader: .75rem;
$dt_bodyLarge:1rem;
$dt_bodyMedium:.875rem;
$dt_bodySmall:.75rem;

$m_pageHeader:1.75rem;
$m_subHeader:1.25rem;
$m_labelLinkButtons:.8125rem;
$m_tableHeader:.6875rem;
$m_bodyLarge:.9375rem;
$m_bodyMedium:.8125rem;
$m_bodySmall:.6875rem;

$familyFont:"Titillium Web";
$primaryBlack:black;
$primaryIndigo: #2E66E5;
$primaryWhite: #ffffff;

$secondarySlate: #5C667E;
$secondaryCloud:#BDC5D5;

$backgroundGraphite: #232940;
$backgroundLightGrey: #F7F8F9;

$supportGreat: #158463;
$supportRed:#C94515;

$min_tablet:768px;
$max_tablet: 1279px;
$desktop: 1280px;