@use './../../styles//partials/global' as *;
@use './../../styles/partials/mixins' as *;

.formPage{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;

    @include tabletView{

        padding-left: 40px;
        padding-right: 40px;
        max-width: 65rem;
    }
    @include desktopView{

        padding-left: 10rem;
        padding-right: 10rem;
        max-width: 65rem;
    }

    &__title{

    }
    &__form{
        padding-bottom: 30px;

    }
    &__form-one{

        padding-top: 20px;

    }
    &__form-title{

        padding-bottom: 10px;

    }
    &__form-input{

        width: 100%;
        height: 3.5vh;
        padding: 20px;
        border-radius: 1.25rem;
        border: none;
    }
    &__form-two{

        padding-top: 20px;
        padding-bottom: 30px;

    }
    &__form-des{

        padding-bottom: 10px;
    }
    &__form-text{

        width: 100%;
        resize: none;
        height: 15vh;
        padding: 20px;
        border-radius: 1.25rem;
        border: none;
    }

    &__lists-posts{


    }
    &__lists-title{

        
    }
    &__post-link{

        text-decoration: none;
    }
    &__post{

        margin-top: 10px;
        margin-bottom: 20px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        box-shadow: -1px 0px 4px 3px white;
        border-radius: 1.25rem;
        border: none;
        margin: 20px;
        padding: 20px;

    }
    &__post-title{
        padding-bottom: 10px;
        text-decoration:underline;
        color: white;
    }
    &__button-container{

        @include desktopView{

            display: flex;
            width: 100%;
            justify-content: end;
        }

    }
    &__button{

        width: 30%;
        height: 4vh;
        font-size: 20px;
        background-color: white;
        border-radius: 20px;
        border: none;

        &:hover{

            background-color: black;
            color: wheat;
            box-shadow: -1px 0px 4px 3px wheat;
        }
    }
}
.formPage__post:hover h2, .formPage__post:hover p{

    color: black;
    background-color: white;
    
}
.formPage__post:hover {

    color: black;
    background-color: white;
    
}
