@use './../../styles//partials/global' as *;
@use './../../styles/partials/mixins' as *;

.articlePage{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;

    
    @include tabletView{

        padding: 40px;

    }
    @include desktopView{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 20rem;
        padding-right: 20rem;
        justify-content: space-evenly;
        max-width: 110rem;
    
        
    }

    &__title{

        @include tabletView{

        }

    }
    &__container{

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        @include tabletView{

            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: none;
        }

    }
    &__img1-container{

        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 30rem;
        order: 1;

        @include tabletView{

            width: 50%;

        }
        @include desktopView{
            padding: 0;
            justify-content:unset;

        }
        
    }
    &__img1{

        width: 80%;
        display: flex;
        height: 300px;

        @include desktopView{

            width: 97%;
        }
        
    }
    &__img2-container{

        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 30rem;
        order: 3;

        @include desktopView{
            padding: 0;
            justify-content:unset;
            
        }

        @include tabletView{

            width: 50%;
            order: 2;
        }

    }
    &__img2{

        width: 50%;
        height: 300px;

        @include desktopView{

            width: 97%;
        }
    }
    &__info-container{


        order: 2;
        padding-top: 20px;

        @include tabletView{

    
            order: 3;
        }
    }
    &__info{

        padding-bottom: 20px;
    }
    &__button-container{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        order: 4;
        width: 100%;

        @include desktopView{

        justify-content: flex-end;
        

        }
        
    }
    &__button-link{

        width: 45%;

        

        @include desktopView{

            width: 20%;
            margin-left: 30px;
            min-width: 13rem;
            max-width: 13.5rem;
        }

        
    }
    &__button-making{

        width: 100%;
        height: 5vh;
        border-radius: 20px;
        font-size: 20px;
        border: none;
        background-color: white;

        &:hover{

            background-color: black;
            color: wheat;
            box-shadow: 0px 0px 5px 7px wheat;
        }
    }
    &__button-looking{

        width: 100%;
        height: 5vh;
        border-radius: 20px;
        font-size: 20px;
        border: none;
        background-color: white;



        &:hover{

            background-color: black;
            color: wheat;
            box-shadow: 0px 0px 5px 7px wheat;
        }

    }
    &__solution{

        padding-top: 20px;

        @include desktopView{

       
            width: 45%;
        }

    }
    &__solution-title{

        text-decoration: underline;
        

    }
    &__sol__title{

        width: 100%;
        
    }
    &__container-sol{
        
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__sol-items{

        display: flex;
        flex-direction: row;
    }
    &__sol-title{

        padding-right: 15px;
    }
    &__sol-index{

        background-color: white;
        color: black;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 30px;
    }
    &__versionOrModels{

        padding-top: 20px;

        @include desktopView{

         
            width: 45%;
        }
    }
    &__container-ver{

        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 2px solid white;
    }
    &__ver-title{

        text-decoration: underline;
        padding-bottom: .625rem;
    }
    &__ver-info{

        padding-bottom: 5px;
    }

}