@use './../../styles//partials/global' as *;
@use './../../styles//partials/mixins' as *;

.post{

    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    @include tabletView{

        padding-left: 40px;
        padding-right: 40px;
        max-width: 65rem;
    }

    @include desktopView{

        padding-left: 20rem;
        padding-right: 20rem;
        max-width: 90rem;
    }

    &__post{

        border-radius: 20px;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    &__title{

        
        color: black;
        padding-bottom: 20px;
    }

    &__des {

       
    }
    &__from-container{

        border-top: 2px solid white;
        margin-top: 20px;
        padding-top: 20px;
    }
    &__from{

        display: flex;
        flex-direction: column;

    }
    &__from-title{

        padding-bottom: 10px;
    }
    &__from-text{

        resize: none;
        height: 15vh;
        padding: 20px;
        border-radius: 20px;

    }
    &__from-button{

        border-radius: 20px;
        padding: 10px;
        background-color: white;
        color:black;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;

        &:hover{

            background-color: black;
            color: wheat;
            box-shadow: -1px 0px 4px 3px wheat;
        }
    }
    &__comment-section{

        border-top: 2px solid white;
        padding-top: 20px;
        margin-top: 20px;
    
    }
    &__comment-heading{

        padding-bottom: 20px;
    }
    &__comment-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 10px;
        width: 100%;
        height: 10vh;
        max-height: 15vh;
        border: 2px solid white;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    &__comment-part1{

        width: 85%;
    }
    &__comment{

        
    }
    &__comment-part2{

        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 20px;
        padding-left: 20px;
        align-items: end;

    }
    &__img{

        width: 27px;
        height: 27px;
        margin-right: 10px;
    }
}

.post__des{

    color: black;
}